modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["eas-cli"]

[userenv]

[userenv.shared]
FIREBASE_API_KEY = "AIzaSyA-daJ4E8CEVh89BGEU9wRLGOZAT7T3-vM"
FIREBASE_AUTH_DOMAIN = "school-app-87900.firebaseapp.com"
FIREBASE_PROJECT_ID = "school-app-87900"
FIREBASE_STORAGE_BUCKET = "school-app-87900.firebasestorage.app"
FIREBASE_APP_ID = "1:774655999002:android:6ccc7fd89c5c57598565a3"
SUPER_ADMIN_KEY = "VIDLYM_SUPER_2026_XK9M"
FIREBASE_CLIENT_EMAIL = "firebase-adminsdk-fbsvc@school-app-87900.iam.gserviceaccount.com"
FIREBASE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDJ6mm6X0kXWCis
jVd+6lSQLmV6H3r3MXNQm80qG4y7+XVv0/Q47yW/DB/qBscQvNRpcXKJ+AfrxhsS
1LP3Ub6p+2Gd0tyqCzSmHlgiK6ifFbxNPJ0xgkWG/IL/w7xIX76BTnpmty2rFxcs
/xNexM/aQGu/Ovsz4/aHGUU7J/csnGzBEMWkxk3dsF9PiUDKz8IdUSnbo0iZb6yb
h6ZbC/6X8h24yxG7g8eQeKZLEBbvOcXFYcXHSoHK7J5aE6L1LGlmrYVATE+Rd09s
yI1Y56bLv55rUcf3xZGIW2XQ+5F0vsU91R2vWxhopl+chAj1etYZzSYJgQzUqsTg
sAhJOvd/AgMBAAECggEAPlm+I1iYO/azvLD6w0y+JzXEjUUaVin1h39NCAMw3r0G
KC2l3Uzv9YJbeot0PjVpTFRFf9hRLdvjcVmwZx9dhqUDPFaoYHQMYn29TnP34oQ2
PQ2KJwcozCm+lBdP1XOHYuumfYB0QEBlnjX4N8wDuUwqWYdvmdL7xjUl/UH2oFXz
D0E+hcAdhErc4P1V8JDYUL2dcOb3zKoUDSjRtRNkWP9yCX0rpFVPrgNfEqvcI0vW
DfyGbOL4Vm+hSAlLEQzeqb29ShiCTy/lqaLKfNIemHR/mWYCGxY7rNsfZfcfpVyu
xoRJtC4Ab9fdZPd9oIkgmLP0AQh4DDPWuibp5EVISQKBgQDjXlyzBOVv8lj1F125
mrwa2rZuWhxTCD0RzpgTXM+9RudTjErfoAv6N+UqrjBJ22VYPO+ptnNF7s+iThkP
xmzb591ylniVmfzp28HrS2gRmWgHBDDDL8CUy6JiXeuinoO/KhEgsFtJwiBCUEhs
KIHD15bUZ0Y/Bv8BBjFNzqInBwKBgQDjV4eha/MEFBte3J1QU7Ho9KuEM222zBpa
MfCOZW/36udyIDcXSipNld0Y4XS0QBKfVmIaOfKS0Mxj2UvnyU3akBF9qeYwo1+Y
ADL5q4fgM92B9nf5Jg2+cTTAHRGYUZ5kcso6Z6X3jJgmaGLrpxvhwVRImhiixeLu
gJqYaSNVyQKBgQCj/p3SKcfrdNug/BeIFglzPSm0cp5XbWvO+jpKTPkxxoB3jIs8
vM2mzsYmgLknrG1utZUPzh9a46MzqCz/adl+y8C4M7wJ+6Wmb/Fw61TGzOVxmh4p
yrmXGUGovaGGC9tu+MKd11Yg3zoxWoLCMH1YapnJ3iuWrk8jx/mr60yd5QKBgF4C
yy6Acl0EZ5Ehz9fw1EhOLUMc9Ui7PEaCEkUAQ34U4KK8GawC2l19FJH+YYFMYacM
VMMdpWb6+xprOE1gXFZ+bw01HeCNHrG/m1TNjwGy0O22W0RnbRWMwNCU9Lq1Pbey
FFh0lhg5Ro3TatyiHRCNHupq9rcQ99fCzKssBxWpAoGAem3P6YGMfWYcOEFJR0r0
/L3arR2dlyoamCmkHRFqaNB87vhssuBowJ7aCBP4WeiwtfoF2I1P+QSrzedNWHzQ
bF3HzcvtiNByT5H40oinKpX5vrPHlliB7jF05sN5LrhIBN4r1eSd0ONEslPYuA5j
9OXSdjd+8f3IMjbT2ciU61g=
-----END PRIVATE KEY-----
"""
APP_URL = "https://venkeyschoolapp-updated.replit.app"
JWT_SECRET = "0e18dd7aab24b2754ce215104d9b61a1ec2ba066f1cbfaaedcb5dd68a20529ba"
BACKUP_BUCKET_NAME = "gs://school-app-87900.appspot.com"
PRINCIPAL_EMAIL = "thatipamulavenkatesh1999@gmail.com"
ACADEMIC_START = "2025-06-02"
ACADEMIC_END = "2026-04-30"
EXPO_TOKEN = "gH0PmutmfrIyZ6OU0jNEIVXB0NHwC1DHLJMC7KQR"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "fuser -k 5000/tcp 2>/dev/null; sleep 1; node server.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "unset EXPO_TOKEN && npx expo start --tunnel --port 8080"
waitForPort = 8080

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5904
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]
build = ["echo", "no-build-needed"]
